.card
  .card-header
    = "#{action} Pile"
  = form_with model: pile do |form|
    .card-body
      .form-group
        = form.label :kind
        = form.select :kind, Pile.kinds.keys, { selected: pile.kind }, class: 'form-control'
      .form-group
        = form.label :weight
        = form.number_field :weight, class: 'form-control'
      .form-group
        = form.label :produced_at
        = form.date_field :produced_at, class: 'form-control'
      .form-group
        = form.label :container_id
        = form.collection_select :container_id,
          Container.all, :id, :name,
          { selected: pile.container_id,
            include_blank: 'No Container' },
          { class: 'form-control' }

    .card-footer
      = form.button fa_icon('save', text: "#{action}"), type: 'submit', class: 'btn btn-success'
      = link_to 'Cancel', piles_path, class: 'btn btn-outline-danger pull-right'
