.card
  .card-header
    = link_to fa_icon('plus', text: 'New Pile'), new_pile_path, class: 'btn btn-success'
  %table.table
    %thead
      %tr
        %th Produced At
        %th.text-right Weight (in g)
        %th.text-right Real Weight (in g)
        %th Kind
        %th
    %tbody
      - @piles.each do |pile|
        %tr{class: row_background_color(pile.kind)}
          %td= pile.produced_at
          %td.text-right
            = number_with_delimiter(pile.weight, delimiter: '.')
          %td.text-right
            = number_with_delimiter(pile.real_weight, delimiter: '.')
          %td
            = pile.kind
          %td.text-right
            = link_to fa_icon("edit", text: 'Edit'), edit_pile_path(pile), class: 'btn btn-default'
            = link_to fa_icon("trash", text: 'Delete'), pile_path(pile), method: :delete, class: 'btn btn-danger'
