.alert.alert-warning
  The graphs are still
  %span.beta-sign.rounded
    beta
  %span
    and needs to be imporved this is only a first overview.
.card
  .card-body
    = high_chart_globals(@graph_presenter.chart_globals)
    = high_chart('waste-graph', @graph_presenter.chart)

.card
  .card-header
    %h3 The current per head values for garabe
  .card-body
    %table.table
      %thead
        %tr
          %th Kind
          %th per head/per month
          %th Source
      %tbody
        - GraphPresenter::GARBAGE.each do |key, value|
          %tr
            %td= key
            %td.text-right= "#{value[:limit]} g"
            %td= link_to 'Source', value[:source]
