.alert.alert-warning
  The graphs are still
  %span.beta-sign.rounded
    beta
  %span
    and needs to be imporved this is only a first overview.
.card
  .card-body
    = high_chart_globals(@graph_presenter.chart_globals)
    = high_chart('waste-graph', @graph_presenter.chart)

.card
  .card-header
    %h3= "Monthly Statistics: #{@date.strftime("%B %Y")}"
  .card-body
    %table.table
      %thead
        %tr
          %th.text-left Kind
          %th.text-left Your household (total)
          %th.text-left Your household (per person)
          %th.text-right Average household (per person)
          %th Source
      %tbody
        - GraphPresenter::GARBAGE.each do |key, value|
          - household_weight = Pile.where(user_id: current_user.id).where(kind: key).group("DATE_TRUNC('month', produced_at)").sum(:weight).values.first
          %tr
            %td.text-left= key
            %td.text-left="#{household_weight}g"
            %td.text-left="#{household_weight/current_user.people_in_household}g"
            %td.text-right= "#{value[:limit]} g"
            %td= link_to 'Source', value[:source]
