.card
  .card-header
    = "#{action} Container"
  = form_with model: container do |form|
    .card-body
      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control'
      .field
        = form.label :weight
        = form.number_field :weight, class: 'form-control'
    .card-footer
      = form.button fa_icon('save', text: "#{action}"), class: 'btn btn-success'
      = link_to 'Cancel', containers_path, class: 'btn btn-outline-danger pull-right'
