.card
  .card-header
    = link_to fa_icon('plus', text: 'New Container'), new_container_path, class: 'btn btn-success'
  %table.table
    %thead
      %tr
        %th Name
        %th.text-right Weight (in g)
        %th
    %tbody
      - @containers.each do |container|
        %tr
          %td.align-middle
            = container.name
          %td.text-right.align-middle
            = number_with_delimiter(container.weight, delimiter: ".")
          %td.text-right
            = link_to fa_icon("edit", text: 'Edit'), edit_container_path(container), class: 'btn btn-default'
            = link_to fa_icon("trash", text: 'Delete'), container_path(container), method: :delete, class: 'btn btn-danger'
