.card
  .card-header
    = link_to fa_icon('plus', text: 'New Storage'), new_bottle_deposit_storage_path, class: 'btn btn-success'
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Amount
        %th{:scope => "col"} Type
        %th{:scope => "col"} Sum Price
        %th{:scope => "col"} 
    %tbody
      - @storages.each do |storage|
        %tr
          %td{:scope => "row"}= storage.name 
          %td{:scope => "row"}= storage.amount
          %td{:scope => "row"}= storage.configuration.name
          %td{:scope => "row"} TBA
          %td.text-right
            = link_to fa_icon("edit", text: 'Edit'), edit_bottle_deposit_storage_path(storage), class: 'btn btn-default'
            = link_to fa_icon("trash", text: 'Delete'), bottle_deposit_storage_path(storage), method: :delete, class: 'btn btn-danger'
