.card
  .card-header
    = "#{action} Bottle Deposit Configuration"
  = form_with model: bottle_deposit_configuration do |form|
    .card-body
      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control'
      .field
        = form.label :price
        = form.number_field :price
    .card-footer
      = form.submit "#{action}", class: 'btn btn-success'
      = link_to 'Back', bottle_deposit_configurations_path, class: 'btn btn-danger'
