.card
  .card-header
    = link_to fa_icon('plus', text: 'New Pile'), new_garbage_pile_path, class: 'btn btn-success'
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Kind
        %th{:scope => "col"} Weight
        %th{:scope => "col"} Produced At
        %th{:scope => "col"} 
    %tbody
      - @piles.each do |pile|
        %tr
          %td{:scope => "row"}= pile.kind
          %td{:scope => "row"}= pile.weight
          %td{:scope => "row"}= pile.produced_at
          %td.text-right
            = link_to fa_icon("edit", text: 'Edit'), edit_garbage_pile_path(pile), class: 'btn btn-default'
            = link_to fa_icon("trash", text: 'Delete'), garbage_pile_path(pile), method: :delete, class: 'btn btn-danger'
