.card
  .card-header
    = link_to fa_icon('plus', text: 'New Garbage container'), new_garbage_container_path, class: 'btn btn-success'
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Weight (in g)
        %th{:scope => "col"}
    %tbody
      - @containers.each do |container|
        %tr
          %td{:scope => "row"}= container.name
          %td{:scope => "row"}= container.weight
          %td.text-right
            = link_to fa_icon("edit", text: 'Edit'), edit_garbage_container_path(container), class: 'btn btn-default'
            = link_to fa_icon("trash", text: 'Delete'), garbage_container_path(container), method: :delete, class: 'btn btn-danger'
