%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %a.navbar-brand{:href => "#"}
      = image_tag 'logo'
      Garbage-Tracker
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.pull-ight
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Piles', piles_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Container', containers_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %strong= current_user.email
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to 'Edit User', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
